# General
*.log
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.metro/
.metro-health-check*

# Android
android/build/
android/app/build/
android/.gradle/
android/app/.cxx/
android/local.properties
android/*.iml
android/app/*.iml
android/.idea/
android/.navigation/
android/captures/
*.ap_
*.dex
*.class

# Keystores
*.jks
*.keystore
*.p12
*.key

# Fastlane
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
*/fastlane/test_output

# Bundle artifacts
*.jsbundle
*.jsbundle.map

# iOS (Standard ignores, even if not currently used)
ios/*.mode1v3
ios/*.mode2v3
ios/*.moved-aside
ios/*.nxmodule
ios/*.pbxuser
ios/*.perspectivev3
ios/*.xcworkspace
ios/Pods/
ios/build/
ios/DerivedData/
